body
{
	background: gray;
}
#main {
    background-color: yellow;
    height: 100%;
    margin: auto;
    padding: 0px;
}
#searchBox {
    background-color: red;
    margin: 0px auto;
    text-align: center;
    padding:  0px;
}
#searchInput {
    height: 25px;
    margin: 0px auto;
    text-align: left;
    width: 800px;
    padding:  0px;
}
#form {
    margin: 0px;
    padding: 0px;
    background-color: cyan;
}
#searchButton {
    height: 34px;
    width: 76px;
    padding: 0px;
}